@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(151, 41, 255);
  font-family: "Raleway-Regular", sans-serif;
  background-color: rgb(255, 104, 255);
}

.background-video {
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

header .navbar {
  position: fixed;
  background-color: rgb(255, 104, 255);
  padding-top: 2vh;
  padding-bottom: 0;
  margin-top: 0;
  width: 100%;
  height: 10vh;
  top: 0;
  padding: 0;
  margin: 0;
  z-index: 10;
}
header .navbar .boton-nav {
  margin-left: 1vh;
  background-color: #ffffff;
}
header .navbar .responsive-nav {
  background-color: rgb(255, 104, 255);
  margin-top: 1vh;
  width: 100%;
}
header .navbar .responsive-nav .lista .nav-item .categoria {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-left: 5px;
}
header .navbar .responsive-nav .lista .nav-item .categoria:hover {
  background-color: rgb(151, 41, 255);
}
header .navbar .responsive-nav .lista .nav-item .categoria:active {
  color: yellow;
}

main .header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  text-align: center;
  margin-top: 5vh;
}
main .header__logo .logo {
  margin-top: 3vh;
  max-width: 40%;
  height: auto;
  object-fit: contain;
  z-index: 5;
}
main .main__titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  text-align: center;
  margin-top: 10vh;
}
main .main__titulo .img__titulo {
  margin-top: 10vh;
  max-width: 80%;
  height: auto;
  object-fit: contain;
  z-index: 5;
}
main .main__subtitulo {
  display: flex;
  align-items: center;
  color: rgb(255, 104, 255);
  font-family: "Raleway-Regular", sans-serif;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 6px;
  margin-top: 5vh;
  text-shadow: -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white, 1px 1px 0px white;
}
main .productos {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
  align-items: start;
  padding: 20px;
}
main .productos .producto {
  position: relative;
  background: linear-gradient(to top, rgb(227, 78, 227), violet, yellow);
  width: 80%;
  height: auto;
  border-radius: 10px;
  justify-items: center;
  border: blueviolet 2px solid;
}
main .productos .producto:hover {
  transition: all 2s;
  transform: scale(1.1);
  z-index: 5;
}
main .productos .producto .img__producto {
  display: flex;
  width: 90%;
  height: auto;
  border-radius: 10px;
  margin-top: 5%;
}
main .productos .producto .detalles {
  margin: 10%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
main .productos .producto .detalles .comprar {
  font-size: 1rem;
  padding: 8px 15px;
  /* Ajusta el tamaño del botón */
  background-color: yellow;
  color: darkviolet;
  border: none;
  border-radius: 5px;
  margin-left: 7%;
}
main .productos .producto .detalles .comprar:hover {
  background-color: rgb(151, 41, 255);
}
main .productos .producto .detalles .precio {
  font-size: 1.2rem;
  margin: 0;
  margin-right: 10%;
}
main .titulos {
  margin-top: 50px;
}
main .titulos .descripcion {
  background-color: rgba(221, 217, 217, 0.563);
  margin: 10%;
  text-transform: uppercase;
}
main .resumen {
  margin: 10%;
  background-color: rgba(221, 217, 217, 0.563);
  font-size: 1.2rem;
}
main .div__artistas__e {
  display: grid;
  width: 100%;
  height: auto;
  gap: 5%;
  justify-items: center;
  grid-template-columns: 1fr;
}
main .div__artistas__e .img__artistas {
  width: 90%;
  margin: 5%;
  margin-bottom: 20%;
}
main .div__artistas__j {
  display: grid;
  width: 100%;
  height: auto;
  gap: 5%;
  justify-items: center;
  grid-template-columns: 1fr;
}
main .div__artistas__j .img__artistas {
  width: 90%;
  margin: 5%;
  margin-bottom: 20%;
}
main section .mapa {
  display: flex;
  width: 100%;
  justify-content: center;
}
main section .mapa .img__mapa {
  width: 90%;
  height: auto;
}
main section .form__email {
  width: 90%;
  margin-left: 1%;
}
main section .form__email .contacto {
  font-size: 1.6rem;
  margin-left: 1%;
}
main section .form__comentario {
  width: 90%;
  margin-left: 1%;
}
main section .form__comentario .contacto {
  font-size: 1.6rem;
  margin-left: 1%;
}

footer {
  margin-top: 30vh;
  text-align: center;
  background-color: rgb(255, 104, 255);
  margin-bottom: 0%;
  padding-bottom: 10vh;
}
footer .footer__copyright {
  text-align: center;
  margin-bottom: 10px;
  padding-top: 15px;
  animation-name: aparece;
  animation-duration: 2s;
}
footer .footer__redes-sociales {
  text-align: center;
  display: inline-block;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  animation-name: aparece;
  animation-duration: 2s;
}
@keyframes aparece {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 400px) {
  .precio {
    font-size: 1.6rem;
    margin-right: 10%;
  }
  .comprar {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 520px) {
  body .productos {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: start;
    padding: 20px;
  }
  body .productos .precio {
    font-size: 1.2rem;
    margin-right: 10%;
  }
  body .productos .comprar {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  body .navbar {
    position: fixed;
    background-color: rgb(255, 104, 255);
    width: 100%;
  }
  body .div__artistas__e {
    grid-template-columns: 1fr 1fr 1fr;
  }
  body .div__artistas__j {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 950px) {
  body .precio {
    font-size: 1.6rem;
    margin-right: 10%;
  }
  body .comprar {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1200px) {
  body .productos {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: start;
    padding: 20px;
  }
  body .resumen {
    font-size: 1.6rem;
  }
  body .titulos {
    font-size: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
