$color-claro: rgb(255, 104, 255);
$color-oscuro: rgb(151, 41, 255);
$color-blanco: #ffffff;
$color-negro: #000000;
$padding-base: 2vh;
$border-radius-base: 10px;
$fuente-principal: "Raleway-Regular", sans-serif;

header {

    .navbar {
        position: fixed;
        background-color: $color-claro;
        padding-top: $padding-base;
        padding-bottom: 0;
        margin-top: 0;
        width: 100%;
        height: 10vh;
        top: 0;
        padding: 0;
        margin: 0;
        z-index: 10;

        .boton-nav {
            margin-left: 1vh;
            background-color: $color-blanco;
        }

        .responsive-nav {
            background-color: $color-claro;
            margin-top: 1vh;
            width: 100%;

            .lista {
                .nav-item {
                    .categoria {
                        color: white;
                        text-decoration: none;
                        text-transform: uppercase;
                        letter-spacing: 5px;
                        margin-left: 5px;

                        &:hover {
                            background-color: $color-oscuro;
                        }

                        &:active {
                            color: yellow;
                        }
                    }
                }
            }
        }
    }
}